<div class="flex flex-col">
  <div class="mb-4">
    <button
      (click)="openModal()"
      class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      type="button"
    >
      Add new vehicle
    </button>
  </div>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Vehicle name
              <button
                (click)="onSortChange('name')"
                aria-label="Sort by Vehicle name"
                class="cursor-pointer"
                type="button"
              >
                <svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </button>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Manufacturer
              <button
                (click)="onSortChange('manufacturer')"
                aria-label="Sort by Vehicle name"
                class="cursor-pointer"
                type="button"
              >
                <svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </button>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">
              Model
              <button
                (click)="onSortChange('model')"
                aria-label="Sort by Vehicle name"
                class="cursor-pointer"
                type="button"
              >
                <svg
                  class="w-3 h-3 ms-1.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                  />
                </svg>
              </button>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">Mileage</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (vehicle of displayedVehicles; track vehicle.id) {
        <tr class="bg-white border-b border-gray-200">
          <td class="px-6 py-4">
            {{ vehicle.name }}
          </td>
          <td class="px-6 py-4">
            {{ vehicle.manufacturer }}
          </td>
          <td class="px-6 py-4">
            {{ vehicle.model }}
          </td>
          <td class="px-6 py-4">
            @if (vehicle.mileage) {
            {{ vehicle.mileage }}
            } @else { - }
          </td>
          <td class="px-6 py-4">
            <a
              routerLink="/vehicle/{{ vehicle.id }}"
              class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-hidden focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none"
            >
              View Details
            </a>
          </td>
        </tr>
        } @empty { @if(displayedVehicles === null){ } @else {
        <tr>
          <td class="px-6 py-4" colspan="4">No vehicles found.</td>
        </tr>
        } }
      </tbody>
    </table>
    <nav class="flex items-center flex-column flex-wrap md:flex-row pt-4" aria-label="Pagination">
      <button
        type="button"
        class="p-2.5 min-w-10 inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        aria-label="Previous"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
      >
        <span aria-hidden="true">«</span>
        <span class="sr-only">Previous</span>
      </button>

      <div class="text-sm text-gray-700">Page {{ currentPage }} of {{ totalPages }}</div>

      <button
        type="button"
        class="p-2.5 min-w-10 inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-hidden focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
        aria-label="Next"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        <span class="sr-only">Next</span>
        <span aria-hidden="true">»</span>
      </button>
    </nav>
  </div>
</div>

<app-add-vehicle-modal
  [isOpen]="isModalOpen"
  [errorMessage]="errorMessage"
  (close)="closeModal()"
  (save)="onVehicleAdded($event)"
>
</app-add-vehicle-modal>
